<form action="/process_roll">
  <label for="dice">Number of dice to roll:</label>
  <input type="text" name="dice">

  <label for="dice">How many sides on a die:</label>
  <input type="text" name="sides">

  <button>Roll!</button>
</form>
